.itemCount{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contador {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid rgb(5, 122, 255);
  border-radius: 7px;
}
.contador button {
  width: 30px;
  border: none;
  background-color: transparent;
}

.contador span {
  border: 0 2px solid rgb(5, 122, 255);
  width: 40px;
  text-align: center;
  z-index: 1;
}
.onAdd {
  padding: 5px;
  border: 2px solid rgb(5, 122, 255);
  border-radius: 7px;
  margin: 10px;
}
